.nav-brand {
    height: 10%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /* opacity: 0.2; */
}

.brand-logo {
    width: 20%;
}