.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-bg {
    background-color: black;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
}
