.app {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: 'Nokio-Medium';
  background-image: url("./assets/img/lapto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: scale-down;
  background-color: #292929;
}

@font-face {
  font-family: "Nokio-Medium";
  src: url("./assets/fonts/Nokio-Medium.ttf") format("truetype");
}

/* .color-logo{
  width: 124px;
  height: 229px;
  background-color: #ffbb00;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.brand-logo {
  width:30%;
} */




/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

