.app {
  text-align: center;
  font-family: 'Nokio-Medium';
  /* background-image: url("./assets/img/lapto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: scale-down; */
  background-color: #292929;
}

.color-logo{
  width: 124px;
  height: 229px;
  background-color: #ffbb00;
}

.app-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
    filter: drop-shadow(-5px 5px 10px rgb(255, 230, 0));
    transition: filter 0.3s ease-in-out;
  }
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer__mail-link {
  color: white;
  text-decoration: none;
  margin: auto;
}


@font-face {
  font-family: "Nokio-Medium";
  src: url("./assets/fonts/Nokio-Medium.ttf") format("truetype");
}

@keyframes App-logo-spin {
  from { transform: none; }
  50% { transform: scale(1.2); }
  to { transform: none; }
}